
#navbar-placeholder{
    height: 40px;
}

#burger-btn-div{
    position: absolute;
    height: 50px;
    z-index: 1;
}

.disp-none{
    display: none;
}

#navbar{
    height: 0;
}

#burger-btn{
    height: 40px;
    width: 40px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    outline: 0;
}

#burger-btn img{
    width: 20px;
}

#body-nav{
    width: 50vw;
    transform: translateX(-50vw);
    transition-duration: .6s;
    height: 100vh;
    background-color: rgb(194, 194, 194);
}

.translate0{
    transform: translateX(0) !important;
}

#nav-logo{
    width: 50px;
    margin-top: 50px;
}

#nav-btns{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.nav-btn{
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    align-items: flex-start;
    text-align: left;
    transition-duration: .2s;
    font-size: 20px;
}

.nav-btn:hover{
    text-indent: 5px;
}



.nav-btn a{
    text-decoration: none;
}

@media only screen and (min-width: 1024px) {
    #burger-btn-div{
        display: none;
    }

    #body-nav{
        width: 100vw;
        display: flex;
        padding-top: 0px;
        transform: translateX(0vw);
        transition-duration: 0s;
        height: 40px;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-logo{
        margin: 0;
    }

    #nav-btns{
        flex-direction: row;
        margin: 0;
    }

    .nav-btn:hover{
        text-indent: 0;
    }
}